<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.sound.inquire.account.AccountDAO">

	<!-- 고객 계좌정보 조회 -->
  <select id="findAllByCustomerId" resultType="com.boot.sound.inquire.account.AccountDTO" parameterType="String">
        SELECT *
        FROM account_tbl
        WHERE customer_id = #{customer_id}
    </select>

	<!-- 계좌정보 저장 -->
	 <insert id="insertAccount">
    INSERT INTO account_tbl (
      ACCOUNT_NUMBER, CUSTOMER_ID, ACCOUNT_TYPE,
      BALANCE, INTEREST_RATE, YIELD_RATE,
      CURRENCY_TYPE, ACCOUNT_NAME, OPEN_DATE, ACCOUNT_PWD
    )
    VALUES (
      #{account_number}, #{customer_id}, #{account_type},
      #{balance}, #{interest_rate}, #{yield_rate},
      #{currency_type}, #{account_name}, #{open_date}, #{account_pwd}
    )
  </insert>
  
  <!-- 입출금계좌 해지 -->
  <delete id="deleteAccount" parameterType="String">
    DELETE FROM account_tbl
    WHERE account_number = #{account_number}
    AND account_type = '입출금'
</delete>

	<!--  예금/적금 계좌 생성 -->
    <insert id="insertDepositAccount" parameterType="com.boot.sound.inquire.account.AccountDTO">
        INSERT INTO ACCOUNT_TBL (
            ACCOUNT_NUMBER,
            CUSTOMER_ID,
            ACCOUNT_TYPE,
            BALANCE,
            INTEREST_RATE,
            YIELD_RATE,
            CURRENCY_TYPE,
            ACCOUNT_NAME,
            OPEN_DATE,
            STATUS,
            ACCOUNT_PWD
        ) VALUES (
            #{accountNumber},
            #{customer_id},
            #{account_type},
            #{balance},
            #{interest_rate},
            #{yield_rate},
            #{currency_type},
            #{account_name},
            #{open_date},
            'ACTIVE',
            #{account_pwd}
        )
    </insert>
    
    <!-- 예금계좌 해지시 상태변경  -->
    <update id="updateAccountStatusToClosed">
    UPDATE ACCOUNT_TBL
    SET STATUS = 'CLOSED',
        CLOSE_DATE = NOW(),
        UPDATED_AT = NOW()
    WHERE ACCOUNT_NUMBER = #{accountNumber}
</update>
    



  
</mapper>