<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.sound.jwt.mappers.CustomerMapper">
    <select id="toCustomerDTO" parameterType="String" resultType="com.boot.sound.customer.CustomerDTO">
        SELECT * FROM customer_tbl WHERE customer_id = #{customerId}
    </select>
    
    <update id="saveRefreshToken" parameterType="String">
		UPDATE customer_tbl
    	SET refresh_token = #{refresh_token}
    	WHERE customer_id = #{customerId}
    </update>
    
    <select id="selectRefreshToken">
    	SELECT refresh_token
    	FROM customer_tbl
    	WHERE customer_id=#{customerId}
    </select>
    
	<select id="myInfoList" parameterType="String" resultType="com.boot.sound.customer.CustomerDTO">
		SELECT  customer_id
		,		customer_name
		,		customer_address
		,		customer_email
		,		customer_job
		,		customer_account_number
		,		customer_risk_type
		FROM customer_tbl
		WHERE customer_id = #{customerId}
	</select>
	
	<select id="encodingInfo" resultType="map">
		SELECT	customer_resident_number
		,		customer_phone_number
		FROM	customer_tbl
		WHERE	customer_id = #{customerId}
	</select>
	
	<update id="updateMyInfo" parameterType="com.boot.sound.customer.CustomerDTO">
	    UPDATE customer_tbl
	    <set>
	        <if test="customerName != null">customer_name = #{customerName},</if>
	        <if test="customer_password != null">customer_password = #{customer_password},</if>
	        <if test="customer_address != null">customer_address = #{customer_address},</if>
	        <if test="customer_birthday != null">customer_birthday = #{customer_birthday},</if>
	        <if test="customer_email != null">customer_email = #{customer_email},</if>
	        <if test="customer_job != null">customer_job = #{customer_job},</if>
	        <if test="customer_risk_type != null">customer_risk_type = #{customer_risk_type},</if>
	        <if test="customerPhoneNumber != null">customer_phone_number = #{customerPhoneNumber},</if>
	        <if test="customer_resident_number != null">customer_resident_number = #{customer_resident_number},</if>
	    </set>
	    WHERE customer_id = #{customerId}
	</update>
	
	<select id="checkCustomerAssets" parameterType="string" resultType="map">
		SELECT
		  CASE WHEN EXISTS (SELECT 1 FROM exchange_wallet WHERE customer_id = #{customerId})
		       THEN '외환 지갑' ELSE NULL END AS exchange_wallet,
		       
		  CASE WHEN EXISTS (SELECT 1 FROM account_tbl WHERE customer_id = #{customerId})
		       THEN '입출금계좌' ELSE NULL END AS account_tbl,
		       
		  CASE WHEN EXISTS (SELECT 1 FROM fund_account_tbl WHERE customer_id = #{customerId})
		       THEN '펀드계좌' ELSE NULL END AS fund_account_tbl,
		       
		  CASE WHEN EXISTS (SELECT 1 FROM loan_status_tbl WHERE customer_id = #{customerId} AND loan_progress = '승인')
		       THEN '대출상품' ELSE NULL END AS loan_status_tbl,
		       
		  CASE WHEN EXISTS (SELECT 1 FROM deposit_account_tbl WHERE customer_id = #{customerId})
		       THEN '예적금계좌' ELSE NULL END AS deposit_account_tbl
	</select>

		
		<update id="deleteCustomer">
			UPDATE customer_tbl
			set customer_status = '탈퇴'
			WHERE customer_id = #{customerId}
		</update>
		
		<select id="selectSignOut" resultType="int">
			SELECT COUNT(*)
			FROM customer_tbl
			WHERE customer_id = #{customerId}
			AND customer_status = '가입'
		</select>
		
		<update id="logout">
		    UPDATE customer_tbl
		    SET refresh_token = NULL
		    WHERE customer_id = #{customerId}
		</update>

	

</mapper>