<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.sound.deposit.TransactionHistoryMapper">
    
    <!-- 거래내역 저장 -->
    <insert id="insertTransaction" parameterType="java.util.Map">
        INSERT INTO deposit_transaction_tbl (
            dtb_transaction_id,
            dtb_account_num,
            dtb_amount,
            dtb_transaction_type,
            dtb_description,
            dtb_transaction_date
        ) VALUES (
            UUID(),
            #{dat_deposit_account_num},
            #{amount},
            #{transactionType},
            #{description},
            NOW()
        )
    </insert>

    <!-- 거래내역 조회 -->
    <select id="getTransactionHistory" parameterType="java.util.Map" resultType="com.boot.sound.deposit.TransactionHistoryDTO">
        SELECT 
            dtb_transaction_id as transactionId,
            dtb_account_num as datDepositAccountNum,
            dtb_amount as amount,
            dtb_transaction_type as transactionType,
            dtb_description as description,
            dtb_transaction_date as transactionDate
        FROM deposit_transaction_tbl
        WHERE dtb_account_num = #{dat_deposit_account_num}
        <if test="startDate != null and startDate != ''">
            AND DATE(dtb_transaction_date) >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND DATE(dtb_transaction_date) &lt;= #{endDate}
        </if>
        <if test="year != null and year != '' and month != null and month != ''">
            AND YEAR(dtb_transaction_date) = #{year}
            AND MONTH(dtb_transaction_date) = #{month}
        </if>
        <if test="transactionType != null and transactionType != '' and transactionType != '전체내역'">
            AND dtb_transaction_type = #{transactionType}
        </if>
        ORDER BY dtb_transaction_date 
        <choose>
            <when test="sortOrder == '최근거래순'">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
    </select>
</mapper> 